<!DOCTYPE html>
{% extends temp %}
{% load static %}
{% block body_block %}
<style>
    #item{
    color:  #846FAA;}
</style>
    <section id="about" class="about bg-white" style="margin-left:10vw; width:80vw;">
      <div class="container">
        <div class="section-title mt-4" data-aos="fade-left">
            <h2>My Items</h2>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
        <div class="table-responsive" style="margin-top:6vh;">
          <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr class="text-white" style="background-color:#573E7D;">
                    <th>Category</th>
                    <th>Artist</th>
                    <th>Estimated price</th>
                    <th>Status</th>
                    <th>Edit</th>
                  </tr>
              </thead>
              <tbody>
                  {% if itemInfo %}
                      {% for i in itemInfo %}
                        <tr>
                          <td>{{i.category}} </td>
                          <td>{{i.artist_name}} </td>
                          <td>£{{i.estimated_price}}.00 </td>
                          <td>{{i.status}} </td>
                          <form method="POST">
                          <td ><a href="{% url 'editItem' i.item_lot %}" class="text-success">Edit</a></td>
                          </form>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <h1>No Items yet!</h1>
                  {% endif %}
              </tbody>
          </table>
        </div>


      </div>
    </section>
{% endblock %}
