<!DOCTYPE html>
{% extends "adminDashboard.html"%}
{% load static %}
{% block body_block %}
   <section id="about" class="about bg-white" style="margin-left:10vw; width:80vw;">
      <div class="container">
          <div class="table-responsive" style="margin-top:6vh;">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
              <h3><center><strong>Expired Auctions</strong></center></h3>
              <thead>
                  <tr class="text-white" style="background-color:#573E7D;">
                    <th>Auction Name</th>
                    <th>Auction Date</th>
                    <th>Sold</th>
                    <th>On Hold</th>
                    <th>Pending</th>
                  </tr>
              </thead>
              <tbody>
                  {% if auctionInfo %}
                      {% for a in auctionInfo %}
                        <tr>
                          <td>{{a.auction_name}} </td>
                          <td>{{a.auction_date}} </td>
                          <td><a href="{% url 'editAuction' a.auction_id %}" style="text-decoration:none"><i class="fas fa-edit text-success">View Sold Items</i></a></td>
                          <td><a href="{% url 'deleteAuction' a.auction_id %}" style="text-decoration:none"><i class="fas fa-edit text-danger">View On Hold Items</i></a></td>
                          <td><a href="{% url 'viewAuctionItems' a.auction_id %}" style="text-decoration:none"><i class="fas fa-edit text-success">View Pending Items</i></a></td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <h1>No Auctions yet!</h1>
                  {% endif %}
              </tbody>
            </table>
          </div>
      </div>
   </section>
{% endblock %}