<!DOCTYPE html>
{% extends "adminDashboard.html"%}
{% load static %}
{% block body_block %}
    <style>
        #user{
        color:  #846FAA;}
    </style>
    <section id="about" class="about bg-white" style="margin-left:10vw; width:80vw; min-height:80vh;">
      <div class="container">
         <div class="section-title mt-4" data-aos="fade-left">
              <h2>User Requests</h2>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
        <div class="table-responsive" style="margin-top:6vh;">
          <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr class="text-white" style="background-color:#573E7D;">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>View Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% if users %}
                      {% for e in users %}
                        <tr>
                          <td>{{e.firstName}} </td>
                          <td>{{e.lastName}} </td>
                          <td>{{e.email}} </td>
                          <td>{{e.client_type}} </td>
                          <td><a href="{% url 'viewDraftDetails' e.id %}" style="text-decoration:none"><i class="fas fa-edit text-success">View Details</i></a></td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <h1>No requests yet!</h1>
                  {% endif %}
              </tbody>
          </table>
        </div>


      </div>
    </section>
{% endblock %}
